footer {
  margin-top: 20px;
  width: 100%;
  height: 323px;
  background-color: #f2f2f2;
}

.no-results {
  display: flex;
  flex-direction: row;
}

.info {
  padding-left: 250px;
}

.info h1 {
  margin-top: 74px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #a9a9a9;
}

.info p {
  width: 219px;
  height: 81px;
  margin-left: 290px;
  margin-top: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #a9a9a9;
  word-break: break-word;
}

.no-image {
  margin-left: 160px;
  margin-top: 54px;
}

@media screen and (max-width: 768px) {
  .no-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
  }

  .info {
    padding: 0;
    margin: 0;
  }

  .info h1 {
    margin-left: 35px;
    margin-top: 47px;
  }

  .info p {
    margin: 16px 64px 37px 70px;
  }

  .no-image {
    width: 84px;
    height: 164px;
    margin: 20px 128px 31px 107px;
  }
}