main {
  width: 100%;
  height: 300px;
}

.selects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 293px;
  padding-right: 293px;
}

.first-select img {
  margin-top: 57px;
}

.first-select p {
  width: 219px;
  height: 44px;
  margin-top: 6px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  word-break: break-word;
  color: #848484;
}

.first-select select {
  margin-top: 24px;
  width: 219px;
  height: 40px;
  border-radius: 19px;
  border: 1px solid #a8a8a8;
}

.second-select {
  padding-left: 97px;
}

.second-select img {
  margin-top: 47px;
}

.second-select p {
  width: 203px;
  height: 44px;
  margin-top: 15px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  word-break: break-word;
  color: #797979;
}

.second-select select {
  margin-top: 24px;
  width: 219px;
  height: 40px;
  border-radius: 19px;
  border: 1px solid #a8a8a8;
}

.third-select {
  padding-left: 103px;
}

.third-select img {
  margin-top: 61px;
}

.third-select p {
  width: 190px;
  height: 44px;
  margin-top: 15px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  word-break: break-word;
  color: #848484;
}

.third-select select {
  margin-top: 24px;
  width: 219px;
  height: 40px;
  border-radius: 19px;
  border: 1px solid #a8a8a8;
}

@media screen and (max-width: 768px) {
  .selects {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .first-select {
    margin-left: 180px;
    margin-right: 180px;
  }

  .second-select {
    margin-left: 170px;
    margin-right: 270px;
  }

  .third-select {
    margin-left: 170px;
    margin-right: 270px;
  }
}